.img .png {
  display: flex;
  max-width: 1440x;
  margin: auto;
  justify-content: center;
}
.img .png img {
  max-width: 1440px;
  max-height: 900px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .img .png img {
    max-width: 768px;
    width: 100%;
  }
}

.press {
  background-color: #eee;
}
.press .contack {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.press .contack .telephonecontack {
  display: flex;
  gap: 10px;
}
.press .contack .telephonecontack .message {
  color: #666666;
  display: flex;
  text-decoration: none;
  gap: 5px;
}
.press .contack .telephonecontack .message img {
  width: 20px;
  height: 20px;
}
.press .contack .telephonecontack .telephone {
  display: flex;
  text-decoration: none;
  gap: 5px;
}
.press .contack .telephonecontack .telephone img {
  width: 20px;
  height: 20px;
}
.press .contack .websitecontack {
  display: flex;
  gap: 10px;
}
.press .contack .websitecontack .twitter {
  display: flex;
  text-decoration: none;
  gap: 5px;
  color: #666666;
}
.press .contack .websitecontack .twitter img {
  width: 20px;
  height: 20px;
}
.press .contack .websitecontack .facebook {
  display: flex;
  text-decoration: none;
  gap: 5px;
  color: #666666;
}
.press .contack .websitecontack .facebook img {
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 768px) {
  .press .contack .telephonecontack p {
    display: none;
  }
  .press .contack .websitecontack p {
    display: none;
  }
}

.navbar .brand {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
}
.navbar .brand .name {
  font-size: 40px;
  color: blue;
}
.navbar .brand .home {
  display: flex;
  gap: 10px;
}
.navbar .brand .home a {
  text-decoration: none;
  color: black;
}
.navbar .brand .chose {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar .brand .home {
    display: none;
  }
  .navbar .brand .chose {
    display: block;
  }
}

* {
  margin: 0px;
}